* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* The following CSS styles are for "Navigation Bar" and "Banner Part" section */

nav{
    height: 150px;
    width: 100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: white;
    font-size: 75px;
    font-weight: bold;
    padding-left: 100px;
}

.logo span{
    color: #f9004d;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #f9004d;
}

.banner {
    height: 750px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    padding-top: 70px;
    margin-bottom: 200px;
}

.banner-details {
    padding-left: 200px;
}

.banner-details h1 {
    font-size: 60px;
    font-weight: 700px;
    padding-top: 150px;
}

.banner-details p {
    font-size: 16px;
    color: rgba(39, 39, 39, 0.6);
    line-height: 30px;
    padding: 40px 250px 20px 0px;
}

.btn-primary {
    height: 60px;
    width: 177px;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    background-color: #f9004d;
    border: transparent;
    border-radius: 10px;
}

.banner img {
    padding-right: 200px;
}

/* The following CSS styles are for the "Featured Flowers" section. */

.featured-flower-details {
    text-align: center;
}

.featured-flower-details h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

.featured-flower-details p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
}

.featured-flowers {
    display: flex;
    gap: 35px;
    padding-left: 230px;
    margin-top: 50px;
    margin-bottom: 500px;
}

.box-1 {
    height: 540px;
    width: 440px;
    border: 2px solid transparent;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}

#pink-flower {
    background-color: rgba(167, 33, 98, 0.15);
}

#red-flower {
    background-color: rgba(5, 151, 160, 0.15);
}

#yellow-flower {
    background-color: rgba(71, 125, 17, 0.15);
}

.box-1 img {
    height: 400px;
    width: 340px;
    padding-left: 50px;
    padding-top: 142px;
    margin-bottom: 20px;
}

.box-1 p {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color: rgba(39, 39, 39, 1);
    text-decoration-line: underline;
}

/* The following CSS styles are for the "Hot Deal" section. */

.hot-deal {
    height: 620px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 200px;
    margin-bottom: 200px;
}

.hot-deal-sale {
    padding-top: 230px;
    padding-left: 340px;
}

.hot-deal-sale h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 100px;
    color: rgba(39, 39, 39, 1);
}

.hot-deal-sale span {
    color: #f9004d;
    font-size: 40px;
    font-weight: 700;
}

.hot-deal-sale p {
    width: 600px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 20px;
}

.hot-deal-sale button{
    margin-left: 200px;
}

.hot-deal img {
    width: 318px;
    height: 420px;
    padding-top: 100px;
}

.instagram {
    text-align: center;
}

.instagram h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

.instagram p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    padding-bottom: 25px;
}

.insta-section-flowers{
    display: flex;
    gap: 20px;
    padding-left: 140px;
}
